
/* MAIN STYLING */

html
{
	scrollbar-width: thin;
	scrollbar-color: #E4F5CA #F6FEDC;
}

html::-webkit-scrollbar
{
	width: 3px;
}

body
{
	background: radial-gradient(white, #ddeea1);
	background: url(bk10.gif) repeat;
	color: white;
	font-family: Tahoma, monospace;
	font-size: 11px;
}

h1 
{
	font-family: 'century gothic', Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 3px double #ad7;
	background-color: #ceec63;
	text-align: center;
}

h2
{
	text-align: center;
	font-size: 15px;
	color: #ceec63;
}

h3
{
	color: #bad755;
	text-shadow: white 0px 1px 0px;
}

h4
{
	color: white;
	text-decoration: underline;
	text-align: center;
}

hr 
{
	border: none;
	border-top: 4px double white;
}

a:not(li)
{
	color: #ff7ae4;
}

iframe
{
	overflow: auto;
	overflow-x: hidden;
}

p
{
	padding: 2px;
	margin: 0px;
}

/* ID STYLING */

#bodybox 
{
	background: url(layout.png) no-repeat;
	position: relative;
	top: 35px;
	border: 4px double white;
	width: 760px;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	overflow: hidden;
}


#mainbox
{
	width: 423px;
	height: 447px;
	overflow: auto;
	position: relative;
	top: 9px;
	box-sizing: border-box;
	border: 2px solid white;
}

/* CLASS STYLING */

.dollcontainer
{
	border: #ff7ae4 3px double;
	background-color: #FFBCEA;
	padding: 3px;
}

.inlinediv
{
	display: inline-block;
}

.navbox
{
	width: 142px;
	height: 446px;
	margin: 9px;
	box-sizing: border-box;
	padding: 5px;
	position: relative;
	top: 9px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-width: none;

}

.navbox ul
{
	list-style-image: url(ball.gif);
}

.navbox a
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.navbox a:hover
{
	text-decoration: underline;
}

.paracont
{
	background: #FFBCEA;
	border: 3px double white;
	box-sizing: border-box;
	padding: 5px;
	margin: 3px;
}

.updatet
{
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
